<section id="yearly-sale" class="bg-light-blue overflow-hidden mt-5 padding-xlarge" style="background-image: url('{{ url_for('static', filename='images/yugioh.png') }}');background-position: right; background-repeat: no-repeat;">
  <div class="row d-flex flex-wrap align-items-center">
    <div class="col-md-6 col-sm-12">
      <div class="text-content offset-4 padding-medium">
        <h3>Finally!</h3>
        <h2 class="display-2 pb-5 text-uppercase text-dark">Yu-Gi-Oh cards are here!</h2>
        <a href="{{ url_for('main.shop', category='family') }}" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Check offers</a>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      
    </div>
  </div>
</section>