<section id="testimonials" class="position-relative">
  <div class="container">
    <div class="row">
      <div class="review-content position-relative">
        <div class="swiper-icon swiper-arrow swiper-arrow-prev position-absolute d-flex align-items-center">
          <svg class="chevron-left">
            <use xlink:href="#chevron-left" />
          </svg>
        </div>
        <div class="swiper testimonial-swiper">
          <div class="quotation text-center">
            <svg class="quote">
              <use xlink:href="#quote" />
            </svg>
          </div>
          <div class="swiper-wrapper">
            {% for review in reviews %}
            <div class="swiper-slide text-center d-flex justify-content-center">
              <div class="review-item col-md-10">
                <i class="icon icon-review"></i>
                <blockquote>{{ review.text }}</blockquote>
                <div class="rating">
                  {% for _ in range(review.score // 2) %}
                  <svg class="star star-fill">
                    <use xlink:href="#star-fill"></use>
                  </svg>
                  {% endfor %}
                  {% if review.score % 2 != 0 %}
                  <svg class="star star-half">
                    <use xlink:href="#star-half"></use>
                  </svg>
                  {% endif %}
                  {% for _ in range(5 - (review.score // 2) - (1 if review.score % 2 != 0 else 0)) %}
                  <svg class="star star-empty">
                    <use xlink:href="#star-empty"></use>
                  </svg>
                  {% endfor %}
                </div>
                <div class="author-detail">
                  <div class="name text-dark text-uppercase pt-2">{{ review.name }}</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="swiper-icon swiper-arrow swiper-arrow-next position-absolute d-flex align-items-center">
          <svg class="chevron-right">
            <use xlink:href="#chevron-right" />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</section>
