{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}

{% include 'pages/index/index_block1.html' %}
{% include 'pages/index/index_block2.html' %}
{% include 'pages/index/index_block3.html' %}
{% include 'pages/index/index_block4.html' %}
{% include 'pages/index/index_block5.html' %}
{% include 'pages/index/index_block6.html' %}
{% include 'pages/index/index_block7.html' %}
{% include 'pages/index/index_block8.html' %}
{% include 'pages/index/index_block9.html' %}

{% endblock %}