<section id="latest-blog" class="padding-large">
  <div class="container">
    <div class="row">
      <div class="display-header d-flex justify-content-between pb-3">
        <h2 class="display-7 text-dark text-uppercase">Latest Posts</h2>
        <div class="btn-right">
          <a href="{{ url_for('blog.all_blogs') }}" class="btn btn-medium btn-normal text-uppercase">Read Blog</a>
        </div>
      </div>
      <div class="post-grid d-flex flex-wrap justify-content-between">
        {% for blog in latest_blogs %}
        <div class="col-lg-4 col-sm-12">
          <div class="card border-none me-3">
            <div class="card-image">
              <img src="{{ url_for('static', filename='uploads/' + blog.cover_image) }}" alt="{{ blog.title }}" class="img-fluid">
          </div>          
          </div>
          <div class="card-body text-uppercase">
            <div class="card-meta text-muted">
              <span class="meta-date">{{ blog.created_at.strftime('%b %d, %Y') }}</span>
            </div>
            <h3 class="card-title">
              <a href="{{ url_for('blog.single_blog', slug=blog.url_slug) }}">{{ blog.title }}</a>
            </h3>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
