<footer id="footer" class="overflow-hidden">
    <div class="container">
        <div class="row">
        <div class="footer-top-area">
            <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-lg-3 col-sm-6 pb-3">
                {% include 'footer/footer_column1.html' %}
            </div>
            <div class="col-lg-2 col-sm-6 pb-3">
                {% include 'footer/footer_column2.html' %}
            </div>
            <div class="col-lg-3 col-sm-6 pb-3">
                {% include 'footer/footer_column3.html' %}
            </div>
            <div class="col-lg-3 col-sm-6 pb-3">
                {% include 'footer/footer_column4.html' %}
            </div>
            </div>
        </div>
        </div>
    </div>
    <hr>
</footer>