<div class="footer-menu">
<img src="{{ url_for('static', filename='images/main-logo.png') }}" alt="logo">
<p>Nisi, purus vitae, ultrices nunc. Sit ac sit suscipit hendrerit. Gravida massa volutpat aenean odio erat nullam fringilla.</p>
<div class="social-links">
    <ul class="d-flex list-unstyled">
    <li>
        <a href="#">
        <svg class="facebook">
            <use xlink:href="#facebook" />
        </svg>
        </a>
    </li>
    <li>
        <a href="#">
        <svg class="instagram">
            <use xlink:href="#instagram" />
        </svg>
        </a>
    </li>
    <li>
        <a href="#">
        <svg class="twitter">
            <use xlink:href="#twitter" />
        </svg>
        </a>
    </li>
    <li>
        <a href="#">
        <svg class="linkedin">
            <use xlink:href="#linkedin" />
        </svg>
        </a>
    </li>
    <li>
        <a href="#">
        <svg class="youtube">
            <use xlink:href="#youtube" />
        </svg>
        </a>
    </li>
    </ul>
</div>
</div>