<div class="footer-menu text-uppercase">
    <h5 class="widget-title pb-2">Quick Links</h5>
    <ul class="menu-list list-unstyled text-uppercase">
        <li class="menu-item pb-2">
        <a href="#">Home</a>
        </li>
        <li class="menu-item pb-2">
        <a href="#">About</a>
        </li>
        <li class="menu-item pb-2">
        <a href="#">Shop</a>
        </li>
        <li class="menu-item pb-2">
        <a href="#">Blogs</a>
        </li>
        <li class="menu-item pb-2">
        <a href="#">Contact</a>
        </li>
    </ul>
</div>