<div class="footer-menu text-uppercase">
    <h5 class="widget-title pb-2">Help & Info Help</h5>
    <ul class="menu-list list-unstyled">
        <li class="menu-item pb-2">
        <a href="#">Track Your Order</a>
        </li>
        <li class="menu-item pb-2">
        <a href="#">Returns Policies</a>
        </li>
        <li class="menu-item pb-2">
        <a href="#">Shipping + Delivery</a>
        </li>
        <li class="menu-item pb-2">
        <a href="#">Contact Us</a>
        </li>
        <li class="menu-item pb-2">
        <a href="#">Faqs</a>
        </li>
    </ul>
</div>