<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if products.has_prev %}
        <li class="page-item">
            <a class="page-link" href="#" onclick="loadPage({{ products.prev_num }})">Previous</a>
        </li>
        {% endif %}
        
        {% for page_num in products.iter_pages() %}
            {% if page_num %}
                <li class="page-item {% if page_num == products.page %}active{% endif %}">
                    <a class="page-link" href="#" onclick="loadPage({{ page_num }})">{{ page_num }}</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            {% endif %}
        {% endfor %}
        
        {% if products.has_next %}
        <li class="page-item">
            <a class="page-link" href="#" onclick="loadPage({{ products.next_num }})">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
