{% extends "base.html" %}

{% block title %}Edit Product{% endblock %}

{% block head %}
    <script src="https://cdn.ckeditor.com/4.22.0/standard/ckeditor.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.0.3/jQuery.tagify.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.0.3/tagify.min.css">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Edit Product</h1>
    <form action="{{ url_for('product.edit_product', product_id=product.id) }}" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.bgg_url.label(class="form-label") }}
            {% if not product.bgg_url %}
                {{ form.bgg_url(class="form-control") }}
                <small class="form-text text-muted">You can add the BGG URL now.</small>
            {% else %}
                {{ form.bgg_url(class="form-control", readonly=True) }}
                <small class="form-text text-muted">Can't be edited.</small>
            {% endif %}
        </div>

        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control", readonly=True) }}
            <small class="form-text text-muted">Can't be edited.</small>
        </div>
        <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.price.label(class="form-label") }}
            {{ form.price(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.players.label(class="form-label") }}
            {{ form.players(class="form-control") }}
            <small class="form-text text-muted">Select all that apply.</small>
        </div>
        <div class="mb-3">
            {{ form.condition.label(class="form-label") }}
            {{ form.condition(class="form-control") }}
            <div id="slider-range"></div>
        </div>
        <div class="mb-3">
            {{ form.missing_parts.label(class="form-label") }}
            {{ form.missing_parts(class="form-control") }}
            <small class="form-text text-muted">Please note down <b>everything</b> that is missing.</small>
        </div>
        <div class="mb-3">
            {{ form.category.label(class="form-label") }}
            {{ form.category(class="form-select") }}
        </div>
        <div class="mb-3">
            {{ form.tags.label(class="form-label") }}
            <input name="tags" class="form-control" value="{% for tag in product.tags %}{{ tag.name }}, {% endfor %}">
            <small class="form-text text-muted">Tip: Type to search!</small>
        </div>
        <div class="mb-3">
            {{ form.main_image.label(class="form-label") }}
            {% if product.main_image %}
                <div id="mainImagePreview">
                    <img src="{{ url_for('static', filename='uploads/' + product.main_image) }}" alt="Current Main Image" style="max-width: 200px;">
                </div>
                <small class="form-text text-muted">If you add a new image, the current one will be replaced!</small>
            {% endif %}
            {{ form.main_image(class="form-control", id="mainImageInput", required=false) }}
        </div>

        <div class="mb-3">
            {{ form.images.label(class="form-label") }}
            {{ form.images(class="form-control", id="additionalImagesInput", multiple=True) }}
            <div id="imagePreviewContainer" class="image-preview">
                {% for image in product.images.split(',') %}
                    <div class="image-preview">
                        <img src="{{ url_for('static', filename='uploads/' ~ image) }}" alt="Image Preview" style="max-width: 200px;">
                    </div>
                {% endfor %}
            </div>
            <small class="form-text text-muted">If you add new images, all existing ones will be replaced!</small>
        </div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('profile.user_profile') }}" class="btn btn-secondary">Back to Profile</a>
    </form>
</div>
{% endblock %}

{% block scripts %}
    <script>
        const whitelist_tags = [{% for tag in tags %}'{{ tag.name }}',{% endfor %}];
    </script>
    <script src="{{ url_for('static', filename='js/imagePreview.js') }}"></script>
    <script src="{{ url_for('static', filename='js/productForm.js') }}"></script>
{% endblock %}
